.p{
  position: absolute;
 font-family: Verdana;
  font-weight: 400;
  top:150px;
  left:150px;
  font-size: 40px;
  height:100px;
  width:550px;
}
.i{
  position: absolute;
  font-family: Verdana;
  font-weight: 550;
  top:250px;
  left:150px;
  font-size: 60px;
  width:550px;
  line-height:50px;
  white-space:nowrap;   
}
.l{
  position: absolute;
  font-family: Verdana;
  font-weight: 550;
  top:350px;
  left:150px;
  line-height:100px;
  font-size:5px;
  width:450px;
  white-space:nowrap;  
  
}
.learn{
  position: relative;
  font-family: Verdana;
  font-weight: 350;
  font-size: 34px;
  background-color: rgb(255,199,0);
  color:black;
  border:1px solid rgb(255,199,0);
  border-radius: 20px;
  width:200px;
  height:45px;
  top:10px;
  

}
.line{
  position: absolute;
  font-family: 50px;
  font-weight: 450;
  top:100px;
  left:150px;
  font-size: 55px;
  width:550px;
  line-height:50px;
  white-space:nowrap;   
  background-size: auto;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url(../new-/photos/car.jpg);
  
}
.armlogo{
  position: absolute;
  font-family: 50px;
  font-weight: 450;
  top:100px;
  left:150px;
  font-size: 55px;
  width:550px;
  line-height:50px;
  white-space:nowrap;   
}
.img{
  position: absolute;
  font-family: 50px;
  font-weight: 450;
  white-space:nowrap; 
  letter-spacing:20px ;
}
.underline{
  position: absolute;
}

.products{
  position: absolute;
  line-height:150px;
  left:150px;
  font-size: 10px;
}
.slutionso{
  position: absolute;
  line-height:150px;
  left:150px;
  font-size: 10px;
}
.whyarm{
  position: absolute;
  line-height:150px;
  left:150px;
  font-size: 10px;
}
.su{
  position: absolute;
  left:150px;
  font-size: 10px;
}
.r{
  position: absolute;
  line-height:100px;
  left:150px;
  font-size: 10px;
  
}
.c{
  position: absolute;
  line-height:150px;
  font-size: 10px;
}